<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title class="text-center">Gallery</ion-title> -->
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <!-- <ion-text color="primary" size="large">Design Gallery</ion-text> -->
  <ion-grid>
    <ion-text class="text-center" color="light">
      <h1>Gallery Design </h1>
        <ion-row class="ion-justify-content-center">
          <ion-col size="3"> 
            <a href="#">
              <ion-card id="c1">
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>Kitchen Designs</ion-card-title>
                </ion-card-header>
              </ion-card>
            </a>  
          </ion-col>
          <ion-col size="3">  
            <a href="#">
              <ion-card id="c2">
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>Bedroom Designs</ion-card-title>
                </ion-card-header>
              </ion-card>
            </a>  
          </ion-col>
          <ion-col size="3"> 
            <a href="#"> 
              <ion-card id="c3">
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>LivingRoom Designs</ion-card-title>
                </ion-card-header>
              </ion-card>
            </a>  
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="3"> 
            <a href="#">
              <ion-card id="c4">
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>Bathroom Designs</ion-card-title>
                </ion-card-header>
              </ion-card> 
            </a> 
          </ion-col>
          <ion-col size="3">
            <a href="#">  
              <ion-card id="c5">
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>SpaceSaving Designs</ion-card-title>
                </ion-card-header>
              </ion-card> 
            </a> 
          </ion-col>
          <ion-col size="3">
            <a href="#">  
              <ion-card id="c6">
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>HomeOffice Designs</ion-card-title>
                </ion-card-header>
              </ion-card> 
            </a> 
          </ion-col>
        </ion-row>
      </ion-text>
      <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
          <h3 class="text-center">Register for Free
            <ion-button shape="round" fill="outline" [routerLink]="['/register']">Sign Up</ion-button>
          </h3>
          <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <ion-icon name="logo-twitter"></ion-icon>    
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <ion-icon name="logo-google"></ion-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
      </footer>
    </ion-grid>
</ion-content>
