<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <!-- <ion-text color="primary" size="large">Design Gallery</ion-text> -->
  <ion-grid>
    <ion-text class="text-center" color="light">
      <h1>Design Gallery</h1>
        <ion-row class="ion-justify-content-center">
          <ion-col size="3"> 
            <a href="#">
              <ion-card>
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>Kitchen Designs</ion-card-title>
                </ion-card-header>
              </ion-card>
            </a>  
          </ion-col>
          <ion-col size="3">  
            <a href="#">
              <ion-card>
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>Bedroom Designs</ion-card-title>
                </ion-card-header>
              </ion-card>
            </a>  
          </ion-col>
          <ion-col size="3"> 
            <a href="#"> 
              <ion-card>
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>LivingRoom Designs</ion-card-title>
                </ion-card-header>
              </ion-card>
            </a>  
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="3"> 
            <a href="#">
              <ion-card>
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>Bathroom Designs</ion-card-title>
                </ion-card-header>
              </ion-card> 
            </a> 
          </ion-col>
          <ion-col size="3">
            <a href="#">  
              <ion-card>
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>SpaceSaving Designs</ion-card-title>
                </ion-card-header>
              </ion-card> 
            </a> 
          </ion-col>
          <ion-col size="3">
            <a href="#">  
              <ion-card>
                <!-- <img alt="" src="../../assets/kitchen.webp"/> -->
                <ion-card-header>
                  <ion-card-title>HomeOffice Designs</ion-card-title>
                </ion-card-header>
              </ion-card> 
            </a> 
          </ion-col>
        </ion-row>
      </ion-text>
    </ion-grid>
</ion-content>
