<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="support text-center">
    <h1>Get In Touch</h1>
      <p>Contact us via WhatsApp or give us a call for a top-notch home design experience.</p>
        <ion-button>0731 4024184
          <ion-icon name="call-outline" slot="start"></ion-icon>
        </ion-button>
        <ion-button>Whatsapp
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        </ion-button>
  </div>
  <app-footer></app-footer>
</ion-content>
