.support{
    color: black;
    background: #3E5151;  
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  
    background: linear-gradient(to right, #DECBA4, #3E5151); 
    padding: 15%;
    font-size: large;
  }
  
  .support > h1{
    margin: 0px;
  }