<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>Back</ion-title> -->
    <ion-title class="text-center" [routerLink]="['/home']">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid  class="about">
    <ion-text class= "text-center" color="light">
      <h1>Interior Designer Description</h1>
      <p>
        We are looking for artistic, detail-oriented candidates with good interpersonal skills 
        for the position of an interior designer. The interior designer's key responsibilities
        include visualizing and sketching design plans as per client goals, sourcing products 
        and materials, determining costs and inspecting construction to ensure alignment with 
        design specifications are met. You will also be expected to comply with the regulatory
        environment around inspections and building codes.
        Good interior designers are able to think creatively about the use of space, color and 
        movement and will draw on other artistic mediums for creative inspiration. They will 
        also be effective communicators with the ability to persuade in communicating a design 
        idea.
      </p>
    </ion-text>
      <ion-list>
        <h1 style="color: white;">Interior Designer Responsibilities:</h1>
        <ion-item>Outline client design objectives.</ion-item>
        <ion-item>Conceptualize and sketch design plans.</ion-item>
        <ion-item>Determine cost of completion and project requirements in the budgeting phase.</ion-item>
        <ion-item>Set a timeline for the completion of an interior design project.</ion-item>
        <ion-item>Source materials and products included in plans.</ion-item>
        <ion-item>Create 'mood boards' to sample your design vision.</ion-item>
        <ion-item>Utilize computer applications in the design process.</ion-item>
        <ion-item>Inspect design after completion to determine whether client goals have been met.</ion-item>
      </ion-list>
      <br>
      <ion-list>
        <h1 style="color: white;">Interior Designer Requirements:</h1>
        <ion-item>Bachelor's degree in interior design or related field.</ion-item>
        <ion-item>Portfolio of design work.</ion-item>
        <ion-item>Project management experience.</ion-item>
        <ion-item>Experience with computational design.</ion-item>
        <ion-item>Highly creative, imaginative and artistic.</ion-item>
        <ion-item>Excellent communication skills, especially in regard to communicating an 
                  artistic vision.
        </ion-item>
        <ion-item>
          Proficiency in AutoCAD, Illustrator, SketchUp or similar design software.
        </ion-item>
      </ion-list>

      <!-- <ion-content class="ion-padding">
         <h1>Content</h1> -->
      <!-- </ion-content>  -->
      <ion-footer>
         <ion-toolbar>
          <ion-title>
            <ion-row class="footer">
              <ion-col size=""><ion-icon name="logo-facebook"></ion-icon></ion-col>
              <ion-col size="2"><ion-icon name="logo-twitter"></ion-icon></ion-col>
              <ion-col size="2"><ion-icon name="logo-google"></ion-icon></ion-col>
              <ion-col size="2"><ion-icon name="logo-instagram"></ion-icon></ion-col>
              <ion-col size="2"><ion-icon name="logo-linkedin"></ion-icon></ion-col>
              <ion-col size="2"><ion-icon name="logo-github"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
              <ion-col><h3>Sign up for our newsletter</h3></ion-col>
              <ion-col>
                <ion-input label="Email:" placeholder="Email Address" color="dark"></ion-input>
            </ion-col>
              <ion-col>
                <ion-button fill="outline" color="primary">subscribe</ion-button>
              </ion-col>
            </ion-row>
          </ion-title>
        </ion-toolbar> 
     </ion-footer>
     
  </ion-grid>
</ion-content>
