
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>Back</ion-title> -->
    <!-- <ion-title class="text-center" [routerLink]="['/home']">About/Home</ion-title> -->
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid  class="about">
    <ion-text class= "text-center" color="light">
      <h1>Interior Designer Description</h1>
      <p>
        We are looking for artistic, detail-oriented candidates with good interpersonal skills 
        for the position of an interior designer. The interior designer's key responsibilities
        include visualizing and sketching design plans as per client goals, sourcing products 
        and materials, determining costs and inspecting construction to ensure alignment with 
        design specifications are met. You will also be expected to comply with the regulatory
        environment around inspections and building codes.
        Good interior designers are able to think creatively about the use of space, color and 
        movement and will draw on other artistic mediums for creative inspiration. They will 
        also be effective communicators with the ability to persuade in communicating a design 
        idea.
      </p>
    </ion-text>
    <ion-row>
      <ion-col>
        <ion-list>
          <h1 style="color: black;">Interior Designer Responsibilities:</h1>
          <ion-item>Outline client design objectives and fullfil client's requirements.</ion-item>
          <ion-item>Conceptualize and sketch design plans to create projects.</ion-item>
          <ion-item>Determine cost of completion and project requirements in the budgeting phase.</ion-item>
          <ion-item>Set a timeline for the completion of an interior design project.</ion-item>
          <ion-item>Source materials and products included in plans.</ion-item>
          <ion-item>Create 'mood boards' to sample your design vision.</ion-item>
          <ion-item>Inspect design after completion to determine whether client goals have been met.</ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list>
          <h1 style="color: black;">Interior Designer Responsibilities:</h1> 
          <ion-item>Outline client design objectives and fullfil client's requirements.</ion-item>
          <ion-item>Conceptualize and sketch design plans to create projects.</ion-item>
          <ion-item>Determine cost of completion and project requirements in the budgeting phase.</ion-item>
          <ion-item>Set a timeline for the completion of an interior design project.</ion-item>
          <ion-item>Source materials and products included in plans.</ion-item>
          <ion-item>Create 'mood boards' to sample your design vision.</ion-item>
          <ion-item>Inspect design after completion to determine whether client goals have been met.</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <!-- <div class="content"> -->
    <!-- <h1>Sliding Diagonals Background Effect</h1> -->
  <!-- </div> -->

  
  
</ion-content>
