.login-form{
    text-align: center;
    color: black;
}

.login-list{
    border-radius: 20px;
    height: 50vh;
    margin: 0 auto;
    width: 500px;
    padding-top: 60px;
    padding-left: 120px;
}

// .login{
//     justify-content: center;
//     text-align: center;
// }