<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title class="text-center">Registeration</ion-title -->
      <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="register">
    <h1 class="form">First Register Yourself</h1>
    <ion-list class="list-md">
      <ion-item>
        <ion-input label="First Name" placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Last Name" placeholder="Enter text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input label="Mobile Number" type="number" placeholder="000"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Alternate Mobile Number" type="number" placeholder="000"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Select Gender">
          <div slot="label">Gender <ion-text color="danger">(Required)</ion-text></div>
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input label="Password" type="password" value="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Confirm Password" type="password" value="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button fill="outline" size="default" id="present-alert">Register</ion-button>
        <ion-alert trigger="present-alert"
                  message="Congratulations!
                  You have been successfully registered!!
                  Our consultant will contact you soon!!!"
                  [buttons]="alertButtons">
        </ion-alert>
      </ion-item>
    </ion-list>
  </div>
</div>
<br>
  <app-footer></app-footer>
</ion-content>
